html {
  background: #000000;
  color: #ffffff;
}

#header {
  background: #111111;
  color: #ffffff;
  width: 100%;
  height: 50px;
  list-style-type: none;
  overflow: hidden;
}

.links {
  float: left;
}

li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 15px 5%;
  text-decoration: none;
}

li a:hover {
  background: #333333;
}

#space {
  width: 100%;
  height: 100px;
  display: block;
  margin: auto;
}

#first, #second, #third {
  display: block;
  border-radius: 15%;
  background: #222222;
  font-size: 25px;
  font-weight: bold;
}

#tierList {
  display: block;
  border-radius: 20%;
  background: #111111;
  font-size: 15px;
}