html {
  background: #000000;
  color: #ffffff;
}

#header {
  background: #111111;
  color: #ffffff;
  width: 100%;
  height: 50px;
  list-style-type: none;
  overflow: hidden;
}

.links {
  float: left;
}

li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 15px 5%;
  text-decoration: none;
}

li a:hover {
  background: #333333;
}

#space {
  width: 100%;
  height: 100px;
  display: block;
  margin: auto;
}